# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


/privo-release-artifacts/
/privo-release-artifacts/app-integration-release.apk
/privo-release-artifacts/app-prod-release.aab
/privo-release-artifacts/app-prod-release.apk
/privo-release-artifacts/app-qa-release.apk
/privo-release-artifacts/app-uat-release.apk
/privo-release-artifacts.zip
/lib/amplifyconfiguration_v2.dart
/lib/watcher_secrets.dart
.vscode/launch.json

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
/.firebase/
ios/Runner/GoogleService-Info.plist
android/app/src/dev/google-services.json
android/app/src/integration/google-services.json
android/app/src/prod/google-services.json
android/app/src/qa/google-services.json
android/app/src/uat/google-services.json
ios/Runner/dev/GoogleService-Info.plist
ios/Runner/integration/GoogleService-Info.plist
ios/Runner/prod/GoogleService-Info.plist
ios/Runner/qa/GoogleService-Info.plist
ios/Runner/uat/GoogleService-Info.plist
